/* diable word wrap in code blocks in preview mode */
code[class*='language-'],
pre[class*='language-'] {
  word-break: normal;
  word-wrap: break-word;
  white-space: pre;
}

.code-block-lang-name {
  z-index: 9999;
}
